
.header{
    display: flex;
    flex-direction: column;

    align-items: center;
    .post{

        &>div{
            display: flex;
            justify-content: space-between;
            &>div{
                height: 70vh;
                overflow: auto;
                scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; 
            }
           
        }
       
    }
    &>p{
        display: flex;
        font-size: large;
        font-weight: bold;
        margin: 0;
    }
}
.filtered-day{
    padding: .5rem;
    margin-left: 1rem;
    background-color: black;
        border-radius: 2rem;
        color: white;
}
.header .post > div > div::-webkit-scrollbar {
    display: none;
  }