@import '../../variables';
.weekly{
    background-color: $color-green;
    padding: 1rem;
    height: min-content;
    h3{
        display: flex;
    justify-content: center;
    }
    
    &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        &>div{
            display: flex;
            align-items: center;
            margin: 10px;
            color: $color-white;
            p{
                padding-left: 4px;
                padding-right: 4px;
            }
         
    }
    }
}